.App {
  text-align: center;
}

.container {
  display: flex;
  /* grid-template-columns: 50% 50%; */
  flex-direction: row;
  margin: 5% 5%;
}

.input {
  width: 100%;
  height: 100%;
}

#canvas {
  background-color:  yellow;
}

#qr-info {
  margin: 2% 15%;
  text-aign: justify;
}