.App {
  text-align: center;
}

.container {
  display: flex;
  margin: 3% 5%;
}

.panel {
  width: 100%;
  height: auto;
  border: thick double black;
  padding: 5% 3%;
}

@media ( max-width: 768px ) {
  .container {
    display: block;
  }
}