@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.btn {
  @apply py-2 
  px-4 
  text-center 
  focus:outline-none 
  focus:ring-2 
  focus:ring-offset-2 
  rounded
  transition 
  duration-150 
  ease-in-out;
}

.btn-pill {
  @apply rounded-full;
}

.btn-primary {
  @apply border
  border-primary
  hover:bg-cyan-300
  bg-primary text-white;
}

.btn-secondary {
  @apply border
  border-secondary
  bg-secondary text-white;
}

.card {
  @apply flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg;
}

.card-header {
  @apply flex flex-col items-center lg:items-start justify-between min-h-[250px] gap-2;
}

.card-image {
  @apply bg-gray-100 w-full h-full flex items-center;
}

.input-label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
}

.input {
  @apply bg-gray-50 
  border 
  border-gray-300 
  text-gray-900 
  text-sm 
  rounded-lg 
  focus:ring-primary 
  focus:border-primary 
  block 
  w-full 
  p-2.5 
  dark:bg-gray-700 
  dark:border-gray-600 
  dark:placeholder-gray-400 
  dark:text-white 
  dark:focus:ring-primary 
  dark:focus:border-primary;
}

.input-helper {
  @apply pt-2;
}

.nav-link {
  @apply md:p-4
  hover:underline
  text-center;
}
